.discussions-root {
  height: 90%;
  width: 100%;
}

.discussions-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  background: white;
  border: 1px solid #000;
  -webkit-box-shadow: 24;
          box-shadow: 24;
  padding: 20px;
  overflow-y: scroll;
}

.discussions-modal input {
  background: #ebebeb;
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;
  padding: 10px 5px;
}

.discussions-modal::-webkit-scrollbar {
  display: none;
}

.discussions-modal h2 {
  margin: 10px;
}

.discussions-modal .friend-itemContainer {
  margin-left: 10px;
}

.discussions-modal .friend-itemContainer:hover {
  background-color: white;
  cursor: auto;
}

.discussions-modalCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discussions-modalCheckbox input {
  width: 20px;
  height: 20px;
}

.discussions-modalMembers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discussions-modalDesc textarea {
  background: #ebebeb;
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;
  height: 100px;
  padding: 10px 5px;
}

.discussions-modalBody {
  height: 80%;
  overflow-y: scroll;
}

.discussions-modalBody::-webkit-scrollbar {
  display: none;
}

.discussions-modalFooter {
  background: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discussions-modalFooter button {
  width: 80%;
}

.discussions-allTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
}

.discussions-allTasks .discussions-unfinishedTasks {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

.discussions-allTasks .discussions-unfinishedTasks .discussions-sideTitle {
  font-weight: bold;
}

.discussions-allTasks .discussions-finishedTasks {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.discussions-allTasks .discussions-finishedTasks .discussions-sideTitle {
  font-weight: bold;
}

.discussions-createButton {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discussions-taskItems {
  overflow-y: scroll;
}

.discussions-taskItems::-webkit-scrollbar {
  display: none;
}

.discussions-assignedUsers {
  margin-right: 5px;
}
/*# sourceMappingURL=discussionsStyle.css.map */