$primary: #52b788;

.group-root {
  .group-itemContainer {
		display: flex;
		align-items: center;
		margin: 2px 0;
        width: 100%;
        justify-content: flex-start;
		border-radius: 5px;
		padding: 3px 9px;
		&:hover {
			background-color:rgba(82, 183, 136, 0.5);
			cursor: pointer;
		}
        

        h4 {
            margin: 10px 0;
        }
        
  }
}
