/* No CSS */
.profileImgContainer {
  height: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 5px 5px;
}

.profileImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.MuiGrid-container {
  --delay: 50ms;
}

@-webkit-keyframes itemAnimation {
  from {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemAnimation {
  from {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.MuiGrid-item {
  height: 300px;
  -webkit-animation: itemAnimation ease-out 700ms;
          animation: itemAnimation ease-out 700ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.MuiGrid-item:nth-child(1) {
  -webkit-animation-delay: calc(1 * var(--delay));
          animation-delay: calc(1 * var(--delay));
}

.MuiGrid-item:nth-child(2) {
  -webkit-animation-delay: calc(2 * var(--delay));
          animation-delay: calc(2 * var(--delay));
}

.MuiGrid-item:nth-child(3) {
  -webkit-animation-delay: calc(3 * var(--delay));
          animation-delay: calc(3 * var(--delay));
}

.MuiGrid-item:nth-child(4) {
  -webkit-animation-delay: calc(4 * var(--delay));
          animation-delay: calc(4 * var(--delay));
}

.MuiGrid-item:nth-child(5) {
  -webkit-animation-delay: calc(5 * var(--delay));
          animation-delay: calc(5 * var(--delay));
}

.MuiGrid-item:nth-child(6) {
  -webkit-animation-delay: calc(6 * var(--delay));
          animation-delay: calc(6 * var(--delay));
}

.MuiGrid-item:nth-child(7) {
  -webkit-animation-delay: calc(7 * var(--delay));
          animation-delay: calc(7 * var(--delay));
}

.MuiGrid-item:nth-child(8) {
  -webkit-animation-delay: calc(8 * var(--delay));
          animation-delay: calc(8 * var(--delay));
}

.MuiGrid-item:nth-child(9) {
  -webkit-animation-delay: calc(9 * var(--delay));
          animation-delay: calc(9 * var(--delay));
}

.MuiGrid-item:nth-child(10) {
  -webkit-animation-delay: calc(10 * var(--delay));
          animation-delay: calc(10 * var(--delay));
}

.MuiGrid-item:nth-child(11) {
  -webkit-animation-delay: calc(11 * var(--delay));
          animation-delay: calc(11 * var(--delay));
}

.MuiGrid-item:nth-child(12) {
  -webkit-animation-delay: calc(12 * var(--delay));
          animation-delay: calc(12 * var(--delay));
}

.MuiGrid-item:nth-child(13) {
  -webkit-animation-delay: calc(13 * var(--delay));
          animation-delay: calc(13 * var(--delay));
}

.MuiGrid-item:nth-child(14) {
  -webkit-animation-delay: calc(14 * var(--delay));
          animation-delay: calc(14 * var(--delay));
}

.MuiGrid-item:nth-child(15) {
  -webkit-animation-delay: calc(15 * var(--delay));
          animation-delay: calc(15 * var(--delay));
}

.MuiGrid-item:nth-child(16) {
  -webkit-animation-delay: calc(16 * var(--delay));
          animation-delay: calc(16 * var(--delay));
}

.MuiGrid-item:nth-child(17) {
  -webkit-animation-delay: calc(17 * var(--delay));
          animation-delay: calc(17 * var(--delay));
}

.MuiGrid-item:nth-child(18) {
  -webkit-animation-delay: calc(18 * var(--delay));
          animation-delay: calc(18 * var(--delay));
}

.MuiGrid-item:nth-child(19) {
  -webkit-animation-delay: calc(19 * var(--delay));
          animation-delay: calc(19 * var(--delay));
}

.MuiGrid-item:nth-child(20) {
  -webkit-animation-delay: calc(20 * var(--delay));
          animation-delay: calc(20 * var(--delay));
}

.MuiGrid-item:nth-child(21) {
  -webkit-animation-delay: calc(21 * var(--delay));
          animation-delay: calc(21 * var(--delay));
}

.MuiGrid-item:nth-child(22) {
  -webkit-animation-delay: calc(22 * var(--delay));
          animation-delay: calc(22 * var(--delay));
}

.MuiGrid-item:nth-child(23) {
  -webkit-animation-delay: calc(23 * var(--delay));
          animation-delay: calc(23 * var(--delay));
}

.MuiGrid-item:nth-child(24) {
  -webkit-animation-delay: calc(24 * var(--delay));
          animation-delay: calc(24 * var(--delay));
}

.MuiGrid-item:nth-child(25) {
  -webkit-animation-delay: calc(25 * var(--delay));
          animation-delay: calc(25 * var(--delay));
}

.MuiGrid-item:nth-child(26) {
  -webkit-animation-delay: calc(26 * var(--delay));
          animation-delay: calc(26 * var(--delay));
}

.MuiGrid-item:nth-child(27) {
  -webkit-animation-delay: calc(27 * var(--delay));
          animation-delay: calc(27 * var(--delay));
}

.MuiGrid-item:nth-child(28) {
  -webkit-animation-delay: calc(28 * var(--delay));
          animation-delay: calc(28 * var(--delay));
}

.MuiGrid-item:nth-child(29) {
  -webkit-animation-delay: calc(29 * var(--delay));
          animation-delay: calc(29 * var(--delay));
}

.MuiGrid-item:nth-child(30) {
  -webkit-animation-delay: calc(30 * var(--delay));
          animation-delay: calc(30 * var(--delay));
}

.MuiGrid-item:nth-child(31) {
  -webkit-animation-delay: calc(31 * var(--delay));
          animation-delay: calc(31 * var(--delay));
}

.MuiGrid-item:nth-child(32) {
  -webkit-animation-delay: calc(32 * var(--delay));
          animation-delay: calc(32 * var(--delay));
}

.MuiGrid-item:nth-child(33) {
  -webkit-animation-delay: calc(33 * var(--delay));
          animation-delay: calc(33 * var(--delay));
}

.MuiGrid-item:nth-child(34) {
  -webkit-animation-delay: calc(34 * var(--delay));
          animation-delay: calc(34 * var(--delay));
}

.MuiGrid-item:nth-child(35) {
  -webkit-animation-delay: calc(35 * var(--delay));
          animation-delay: calc(35 * var(--delay));
}

.MuiGrid-item:nth-child(36) {
  -webkit-animation-delay: calc(36 * var(--delay));
          animation-delay: calc(36 * var(--delay));
}

.MuiGrid-item:nth-child(37) {
  -webkit-animation-delay: calc(37 * var(--delay));
          animation-delay: calc(37 * var(--delay));
}

.MuiGrid-item:nth-child(38) {
  -webkit-animation-delay: calc(38 * var(--delay));
          animation-delay: calc(38 * var(--delay));
}

.MuiGrid-item:nth-child(39) {
  -webkit-animation-delay: calc(39 * var(--delay));
          animation-delay: calc(39 * var(--delay));
}

.MuiGrid-item:nth-child(40) {
  -webkit-animation-delay: calc(40 * var(--delay));
          animation-delay: calc(40 * var(--delay));
}

.MuiGrid-item:nth-child(41) {
  -webkit-animation-delay: calc(41 * var(--delay));
          animation-delay: calc(41 * var(--delay));
}

.MuiGrid-item:nth-child(42) {
  -webkit-animation-delay: calc(42 * var(--delay));
          animation-delay: calc(42 * var(--delay));
}

.MuiGrid-item:nth-child(43) {
  -webkit-animation-delay: calc(43 * var(--delay));
          animation-delay: calc(43 * var(--delay));
}

.MuiGrid-item:nth-child(44) {
  -webkit-animation-delay: calc(44 * var(--delay));
          animation-delay: calc(44 * var(--delay));
}

.MuiGrid-item:nth-child(45) {
  -webkit-animation-delay: calc(45 * var(--delay));
          animation-delay: calc(45 * var(--delay));
}

.MuiGrid-item:nth-child(46) {
  -webkit-animation-delay: calc(46 * var(--delay));
          animation-delay: calc(46 * var(--delay));
}

.MuiGrid-item:nth-child(47) {
  -webkit-animation-delay: calc(47 * var(--delay));
          animation-delay: calc(47 * var(--delay));
}

.MuiGrid-item:nth-child(48) {
  -webkit-animation-delay: calc(48 * var(--delay));
          animation-delay: calc(48 * var(--delay));
}

.MuiGrid-item:nth-child(49) {
  -webkit-animation-delay: calc(49 * var(--delay));
          animation-delay: calc(49 * var(--delay));
}

.MuiGrid-item:nth-child(50) {
  -webkit-animation-delay: calc(50 * var(--delay));
          animation-delay: calc(50 * var(--delay));
}

.itemContainer {
  height: 100%;
}

.itemFooter {
  position: relative;
  z-index: 99;
  /* display: inline; */
  color: white;
  margin-left: 5%;
  font-family: "Roboto";
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.itemFooter h3 {
  display: inline-block;
  margin-bottom: 3px;
}

.itemFooter p {
  margin: 0;
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.itemFooter ul {
  margin: 0;
  font-size: 0.9rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.itemFooter * {
  text-shadow: 0 0 2px black;
}

.itemCourses {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 3px;
}

.itemCourses span {
  margin-right: 5px;
}
/*# sourceMappingURL=itemStyle.css.map */