
// Modal
$primary: #52b788;

.innerModalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 90%;
    background-color: white;
    // border: 2px solid #000;
    border-radius: 10px 10px;
    box-shadow: 24;
    overflow-y: auto;
  
    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  .modalImageContainer {
    height: 50%;
    width: 100%;
    overflow-y: hidden;
  }
  
  .modalImage {
    width: 100%;
    // height: 100%;
    border-radius: 5px 5px;
    object-fit: cover;
    min-height: 100%;
  }
  
  .modalDesc {
    // &:before {
    //   content:'';
    //   width:100%;
    //   height:100%;
    //   position:absolute;
    //   left:0;
    //   top:0;
    //   background:linear-gradient(transparent 150px, white);
    // }
  
    padding: 15px 10px;
  
    hr {
      margin: 10px 0px;
    }
  }
  
  .modalDesc-nameyear {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    h3 {
			font-size: 1.5rem;
      display: inline-block;
      margin: 0;
      margin-right: 10px;
    }
    span {
			font-size: 1.2rem;
      margin-top: 2px;
    }
  }
  .modalProgram {
    margin: 0;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .modalCourses {
    margin: 0;
    font-size: 0.9rem;
    margin-bottom: 5px;
  
    span {
      margin-right: 5px;
    }
  }
  
  .modalBio {
    margin: 0;
  }
  
  .modalButtonsContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 8%;
    right: 0.7%;
    z-index: 99999999999;
    width: 100%;
    // height: 100%;
  }
  
  .modalButtons {
    display: flex;
    justify-content: center;
    width: 50%;
    background: linear-gradient(transparent 150px, white);
    z-index: 999999999999;
    .modalReject {
      color: #ff3661 !important;
      background: rgba(255, 255, 255, 0.897);
      box-shadow: 0 0px 5px #ddd;
      border-radius: 50%;
      font-size: 500%;
      height: 100%;
      margin-right: 20px;
      margin: 0;
      padding: 0;

			
    }
    .modalAccept {
      color: $primary;
      background: rgba(255, 255, 255, 0.897);
      box-shadow: 0 0px 5px #ddd;
      border-radius: 50%;
      font-size: 500%;
      height: 100%;
      margin-right: 20px;
      margin: 0;
      padding: 0;
    }
    .modalRejectButton {
      margin-right: 20px;
    }
    button {
      display: flex;
      justify-content: center;
      border: none;
      border-radius: 50%;
      padding: 10px;
  
      box-shadow: 0 0px 5px #ddd;
      cursor: pointer;
  
      &:first-child {
        background-color: rgba(255, 54, 97, 0.10);
        &:hover {
          // filter: brightness(1.1);
          background: rgba(255, 54, 97, 0.315);
        }
      }
      &:last-child {
        background-color: rgba(82, 183, 136, 0.10);
        &:hover {
          // filter: brightness(1.1);
          background: rgba(82, 183, 136, 0.315);
        }
      }
  
    }
  }
  
  .modalEmptySpace {
      height: 20%;
  }