:root {
    --primary: #606C38
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* padding: 0 5rem; */
    /* background-color: #606C38; */
}

.logo {
    color: var(--primary);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* color: #FEFAE0; */
    color: black;
    cursor: pointer;
    margin-right: 20px;
}

.link:active {
    color: var(--primary);
}

.navMenu {
    display: flex;
    align-items: center;

}

.linkMenu {
    margin-left: 20px;
    display: flex;
}
.navButton {
    display: flex;
    align-items: center;
}

.login {
    color: #FFFEF8;
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 30px;
}

.line {
    background-color: grey;
}

.bellIcon {
    font-size: 25px;
    margin-right: 25px;
}

.profileIcon {
    font-size: 25px;
}

.iconButton {
    transition: filter 300ms;
    
}

.iconButton:hover {
    filter: brightness(1.2);
    background-color: #ddd;
}