.dashboardPage-root {
  display: flex;
  height: 100%;
}

.dashboardPage-left {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;

  .dashboardPage-profile {
    display: flex;

    .dashboardPage-profileDetails {
      * {
        margin: 10px 0px;
      }
    }

    .dashboardPage-profileImgContainer {
      width: auto;
      margin-right: 20px;

      .dashboardPage-profileImg {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: solid black 1px;
        object-fit: cover;
      }
    }
  }

  .dashboardPage-leftDivider {
    margin: 20px 0px;
  }
}

.dashboardPage-groupsContainer {
  display: flex;
  justify-content: center;
  button {
    margin: 10% 0;
  }
}

.dashboardPage-right {
  height: 100%;
  width: 100%;
  .dashboardPage-tasks,
  .dashboardPage-discussions {
    display: flex;
    justify-content: center;

    button {
      margin: 10px 0;
    }
  }
}

.dashboardPage-selectGroup {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardPage-groupModal {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	height: 400px;
  width: 400px;
	background: white;
  border: 2px solid #000;
  box-shadow: 24;
	padding: 20px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
	h2 {
		margin: 10px;
	}
	.friend-itemContainer {
		margin-left: 10px;
		&:hover {
			background-color:white;
			cursor: auto;
		}
	}
}
.dashboardPage-modalItem {
	display: flex;
	align-items: center;
	input[type='checkbox'] {
		-webkit-appearance:none;
		width:30px;
		height:30px;
	}
}
.dashboardPage-mainDivider {
  height: 100%;
  margin: 0px 20px !important;
}

