:root {
  --primary: #52b788;
  --secondary: white;
  --nav-height: 60px;
  --speed: 500ms;
  --border: 1px solid #52b788;
  --border-radius: 8px;
}

.nav {
  height: var(--nav-height);
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* padding: 0 5rem; */
  /* background-color: #606C38; */
}

.logo {
  color: var(--primary);
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  /* color: #FEFAE0; */
  color: black;
  cursor: pointer;
  margin-right: 20px;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

.link:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  /* background-color: #ddd; */
}

.link:active {
  color: var(--primary);
}

/* .navItem {

} */
.iconButton {
  --iconButton-size: calc(var(var(--nav-height) * 0.8));
  width: var(--iconButton-size);
  height: var(--iconButton-size);
  border-radius: 50%;
  padding: 8px;
  margin: 2px;
  font-size: 25px;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

.iconButton:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  background-color: #ddd;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linkMenu {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  color: var(--secondary);
  background: var(--primary);
  padding: 10px 20px;
  border-radius: 30px;
}

.line {
  background-color: grey;
}

/* profile menu */
.profileDiv {
  /* display: flex; */
  position: relative;
}

.profileMenu {
  position: absolute;
  z-index: 99999999999999999;
  top: 45px;
  right: 0px;
  width: 200px;
  /* border: var(--border); */
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  padding: 1rem;
  overflow: hidden;
}

.profileItem {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius);
  -webkit-transition: primary var(--speed);
  transition: primary var(--speed);
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.profileItem:hover {
  background-color: #ddd;
}

.leftIcon {
  font-size: 25px;
  margin-right: 10px;
}

.profileMenu hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* notificationns */
.notifDiv {
  /* display: flex; */
  position: relative;
}

.notifications {
  position: absolute;
  max-height: 400px;
  overflow-y: scroll !important;
  z-index: 99999999999999999;
  top: 45px;
  right: 0px;
  width: 250px;
  /* border: var(--border); */
  border-radius: var(--border-radius);
  background-color: var(--secondary);
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  padding: 1rem;
  overflow: hidden;
}

.notifications::-webkit-scrollbar {
  display: none;
}

.notifications h3 {
  margin: 0px auto;
}

.notifcationItem {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius);
  -webkit-transition: primary var(--speed);
  transition: primary var(--speed);
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.notifcationItem:hover {
  background-color: #ddd;
}

.leftIcon {
  font-size: 25px;
  margin-right: 10px;
}

.notifications hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */